.header {

}

.time {
	text-align: center;
	padding: 4px;
	width: 190px;
	height: 140px; 
	background-image: url("../images/timer.png");
	position: absolute;
	z-index: 10;
	left: 65%;
	top: 90px;
}

.timeNumbers {
	font-family: 'Nova Square', cursive;
	margin-top: 38px;
	margin-left: 12px;
	font-size: 50px;
}

.question {
	position: relative;
	margin-bottom: -10px;
	margin-top: 49px;
}

.answer {
	line-height: 170%;
}